.backroundArea {
  min-width: 100vw;
  width: 100%;
  min-height: 100vh;
  // margin: auto;
  background: #255845;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.textArea {
  // background-color: #a55f5b;
  margin: 20px;
  padding: 20px;
  // align-items: center;

  .h1 {
    font-size: 5rem;
    letter-spacing: 0.19rem;
    line-height: 4.3rem;
    font-family: var(--title-font);
    // // display: flex;
    // justify-content: flex-start;
    // align-items: center;
    padding: 15px 0;
    // color: #184118;
    color: #d8a15a;
  }

  .p {
    font-size: 1.1rem;
    font-family: var(--body-font);
    letter-spacing: 0.1rem;
    text-align: left;
    line-height: 1.8rem;
    padding: 10px 0;
    color: rgb(231, 229, 221);
  }

  .links {
    display: flex;
    justify-content: center;
    column-gap: 20px;
    font-size: 1.3rem;
    line-height: 1.8rem;
    margin: 20px;
    padding: 10px;
    // text-align: center;
  }

  .signupBtn {
    text-decoration: none;
    font-family: var(--body-font);
    color: #40403f;
    padding: 8px 24px;
    width: 130px;
    text-align: center;
    margin: 10px 0;
    border-radius: 50px;
    background-color: #d8a15a;
    border: solid 1px #d8a15a;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    cursor: pointer;
  }

  .loginBtn {
    text-decoration: none;
    font-family: var(--body-font);
    color: #255845;
    padding: 8px 24px;
    width: 130px;
    text-align: center;
    margin: 10px 0;
    border-radius: 50px;
    background-color: rgb(231, 229, 221);
    border: solid 2px #d8a15a;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    cursor: pointer;
  }
  //   .button:hover,
  //   .button:active {
  //     background-color: red;
  //   }
}

/* Media Query for Desktop/Tablet */

@media (min-width: 740px) {
  .textArea {
    // background-color: aqua;
    // display: grid;
    // justify-content: center;
    // text-align: center;
    align-items: center;
    display: block;
    margin: 0 auto;
    width: 500px;
    // width: 100%;
    text-align: start;
  }
}

/* Media Query for Different Mobiles */

@media (max-width: 410px) {
  .backroundArea {
    // background-color: blue;
    // min-width: auto;
    width: 100%;
    // height: auto;
    height: 100%;
    overflow: auto;
  }
  // .textArea {
  //   transform: scale(0.9, 0.9);
  // }

  .h1,
  .p,
  .signupBtn,
  .loginBtn {
    transform: scale(0.8);
  }

  .textArea {
    align-items: center;
    // display: block;
    margin: 0 auto;
    width: 100%;
    text-align: start;
    padding: 30px;

    //   .h1 {
    //     font-size: 4.5rem;
    //     letter-spacing: 0.15rem;
    //     line-height: 4.2rem;
    //   }

    //   .p {
    //     font-size: 1rem;
    //     line-height: 1.6rem;
    //   }

    .signupBtn {
      font-size: 1rem;
      padding: 8px 16px;
      // transform: scale(0.8, 0.8);
    }

    .loginBtn {
      font-size: 1rem;
      padding: 8px 16px;
      // transform: scale(0.8, 0.8);
      // margin-left: 0;
    }
  }
}
