.mainProfileArea {
  margin: 0;
  // max-width: 100%;
  width: 100vw;
  min-height: 100vh;
  // padding: 10px;
  background: #255845;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.userInfoSection {
  max-width: 600px;
  width: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 6% 0;
}

.h {
  color: #d8a15a;
  text-align: center;
  letter-spacing: 0.15rem;
  font-family: var(--title-font);
  font-size: 2.2rem;
  line-height: 2rem;
  padding: 0 20px;
  margin-top: 4%; //10px
  margin-bottom: 6%; //20px
  position: static;
}

.profileImage {
  width: 100%;
  max-width: 180px; /* Set a maximum width for the image */
  text-align: center;
  border-radius: 50%;
  object-fit: cover;
}

.profilePicDiv {
  display: flex;
  flex-direction: column;
  width: 100%;
  // padding: 0 4%;

  .profilePicInput[type='file'] {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 16px;
    // padding: 0px;
    font-family: var(--body-font);
  }

  .profilePicInput::file-selector-button {
    border: none;
    height: 100%;
    width: 40%;
    cursor: pointer;
    font-family: var(--body-font);
    border-radius: 8px;
    margin-left: 4%;
  }
}

.input {
  width: 100%;
  min-height: 20px;
  box-sizing: border-box;
  border: 1px solid #eed3c4;
  font-family: var(--body-font);
  font-size: 1rem;
  letter-spacing: 0.15rem;
  margin-top: 3%;
  padding: 4%;
  border-radius: 8px;
  color: #000;
  background-color: rgb(231, 229, 221);
  outline: none;
}

.label {
  font-family: var(--body-font);
  font-size: 1rem;
  letter-spacing: 0.15rem;
  color: rgb(231, 229, 221);
}

.editBtnForm {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 14%;
  .btnEdit {
    padding: 5% 8%;
    width: 140px;
    text-align: center;
    margin: 5% 0 10%;
    border-radius: 50px;
    border: none;
    background-color: #d8a15a;
    font-family: var(--body-font);
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    cursor: pointer;
  }
  .btnSave {
    padding: 4% 8%;
    width: 140px;
    text-align: center;
    margin: 5% 0 10%;
    border-radius: 50px;
    background-color: rgb(231, 229, 221);
    border: solid 3px #d8a15a;
    color: #255845;
    font-family: var(--body-font);
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    cursor: pointer;
  }
}

@media screen and (min-width: 640px) {
  .input {
    font-size: 0.9rem;
  }
  .label {
    font-size: 0.9rem;
  }
  .editBtnForm {
    margin-bottom: 10%;
  }
  .btnEdit,
  .btnSave {
    font-size: 0.9rem;
  }
  .h {
    font-size: 2rem;
  }
  .profileImage {
    width: 160px;
    height: 160px;
  }
}
