.mainProfileArea {
  margin: 0;
  min-width: 100vw;
  width: 100%;
  min-height: 100vh;
  // padding: 10px;
  // background: #fccf96;
  background: #255845;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.userInfoSection {
  display: grid;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 20px 0;
}

.h {
  color: #d8a15a;
  text-align: center;
  letter-spacing: 0.15rem;
  font-family: var(--title-font);
  font-size: 2.2rem;
  line-height: 2rem;
  padding: 0 20px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.profileImage {
  text-align: center;
  border-radius: 50%;
  object-fit: cover;
}

.input {
  width: 100%;
  min-height: 20px;
  box-sizing: border-box;
  border: 1px solid #eed3c4;
  font-family: var(--body-font);
  font-size: 1rem;
  letter-spacing: 0.15rem;
  margin-top: 5px;
  // margin-bottom: 5px;
  padding: 10px;
  border-radius: 8px;
  color: #000;
  background-color: rgb(231, 229, 221);
  outline: none;
}

.label {
  font-family: var(--body-font);
  font-size: 1rem;
  letter-spacing: 0.15rem;
  color: rgb(231, 229, 221);
}

.editBtnForm {
  display: flex;
  justify-content: center;
  text-align: center;
  // padding-top: 10px;
  // margin-top: 0;
  margin-bottom: 40px;
  // border-radius: 5px;
  .btnEdit {
    padding: 16px 24px;
    width: 140px;
    text-align: center;
    // margin-top: 10px;
    margin: 10px 0 20px;
    border-radius: 50px;
    border: none;
    background-color: #d8a15a;
    font-family: var(--body-font);
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
  }
  .btnSave {
    padding: 16px 24px;
    width: 140px;
    text-align: center;
    margin: 10px 0 20px;
    border-radius: 50px;
    background-color: rgb(231, 229, 221);
    border: solid 3px #d8a15a;
    color: #255845;
    font-family: var(--body-font);
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
  }
}
