.backgroundFeed {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.section {
  background: #255845;
  margin-bottom: 20px;
  display: grid;
  justify-content: center;
  // padding: 20px;
}

.activityFeed {
  display: grid;
  justify-content: center;
  // max-width: 50%;
}

.h4 {
  text-align: center;
  font-size: 2.2rem;
  line-height: 2rem;
  padding: 0.8rem;
  // margin-top: 10px;
  margin-bottom: 0.8rem;
  color: #d8a15a;
}

.postWithInfo {
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
  text-align: start;
  // margin: 0 20px;
  padding: 0.8rem;
  // border-top: solid 1px grey;
  border: solid 1px #255845;
  border-radius: 8px;
  background-color: rgb(231, 229, 221);

  .usernameInPost {
    color: #40403f;
    padding-bottom: 5px;
    border-bottom: solid 1px grey;
    text-align: start;
    font-weight: 550;
    letter-spacing: 0.1rem;
  }

  .postContent {
    padding: 5px 0;
    text-align: start;
    color: #40403f;
  }

  .uploadedImage {
    max-width: 100%;
    max-height: 100%;
    border: solid 1px #40403f;
    border-radius: 8px;
    object-fit: cover;
  }
}

.commentsArea {
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: start;
  margin-left: 0.8rem;
  list-style-type: none;
  overflow-wrap: break-word;

  .usernameInComment {
    font-weight: 550;
    // margin-left: 0.8rem;
    padding-bottom: 3px;
    // border-bottom: solid 1px grey;
    // width: 300px;
    color: #40403f;
    text-align: start;
    letter-spacing: 0.1rem;
  }

  .commentContent {
    padding-bottom: 10px;
    text-align: start;
    color: #40403f;
    //   border: solid 1px grey;
    //   border-radius: 50px;
  }
}

// @media (min-width: 413px) {
//   .postWithInfo {
//     width: 412px;
//     margin: auto;
//   }
// }
